@import "/src/utils";
button {
  cursor: pointer;
  background-color: $blue-2;
  padding: $space-4;
  font-weight: 500;
  color: $gray-4;
  font-size: 14px;
  border: none;
  border-radius: $space-4;
  &:hover {
    background-color: $blue;
  }
}