@import "src/utils";
.header {
  margin: 0;
  background-color: $white;
  display: flex;
  justify-content: space-between;
  padding: $space-12;
  @include box-shadow;
  .content {
    display: flex;
    width: 400px;
  }
  .app {
    margin: 20px;
  }
  .title {
    text-align: end;
    font-size: 24px;
  }
  // Hide title small screens
  @media screen and (max-width: 950px) {
    .title {
      display: none;
    }
  }
}
