@import "src/utils";
.header {
  z-index: 1;
  top: 0;
  width: 100%;
  background-color: $white;
  padding: 20px 20px 0 20px;
  position: fixed;
  height: 80px;
  @include box-shadow;
}

.issues-list {
  margin: 120px 20px;
}
